{{ $content_type := .Params.content_type }}
{{if $content_type}}
{{ $t := .Site.GetPage $content_type }}
{{ $rscPages := $t.Resources.ByType "page"}}

{{if gt (len $rscPages) 0}}
<div class="publications row w-100">
        {{ range $page := $rscPages}}
        <div class="col-lg-6 publication">
            <div class="section-1 w-100">
                <span class="publication-title">
                    {{$page.Params.title}}
                </span>
            </div>
            <div class="section-2 w-100">
                {{ $authors := $page.Params.authors }}
                {{ if $authors }}
                {{range $i, $author := $authors}}
                <span class="text-muted">
                    {{ if and (hasPrefix $author "Eric") (or (strings.HasSuffix $author "Mitchell") (strings.HasSuffix $author "Mitchell*")) }}
                        <span style="font-weight: 700;">{{$author}}</span><!--
                    -->{{ else }}
                    {{$author}}<!--
                    -->{{ end }}{{ if lt $i (sub (len $authors) 1)}},{{end}}
                </span>
                {{ if (modBool (add $i 1) 3) }} <br>{{ end }}
                {{end}}
                {{end}}
                {{ if (not (modBool (len $authors) 3)) }}
                <br>
                {{end}}
                <span class="publication-venue">
                    {{$page.Params.publication}},
                </span>
                <span class="publication-date">
                    {{substr ($page.Params.date.Format "2006-01-02") 0 4}}
                </span>
            </div>

            {{ $links := $page.Params.links }}
            {{ if $links }}
            <div class="section-3  w-100">
                {{range $link_name, $link_url := $links}}
                    {{ if $link_url }}
                    <a class="main_color rounded" href="{{$link_url}}" target="_blank">{{$link_name}}</a>
                    {{end}}
                {{end}}
            </div>
            {{end}}
        </div>
    {{end}}
    <hr>
    {{end}}
</div>
{{end}}